# 数据初步了解
首先需要对数据有一个整体的认识

In [1]:
import pandas as pd

In [4]:
off_train = pd.read_csv('data/ccf_offline_stage1_train.csv')

In [17]:
off_train.head(5)

,User_id,Merchant_id,Coupon_id,Discount_rate,Distance,Date_received,Date
0,1439408,2632,NaN,NaN,0.0,NaN,20160217.0
1,1439408,4663,11002.0,150:20,1.0,20160528.0,NaN
2,1439408,2632,8591.0,20:1,0.0,20160217.0,NaN
3,1439408,2632,1078.0,20:1,0.0,20160319.0,NaN
4,1439408,2632,8591.0,20:1,0.0,20160613.0,NaN

In [6]:
record_count = off_train.shape[0]
print "共有%d条记录" % record_count

共有1754884条记录

In [7]:
received_count = off_train['Date_received'].count()
print "共有%d条优惠券的领取记录" % received_count

共有1053282条优惠券的领取记录

In [8]:
coupon_count = len(off_train['Coupon_id'].value_counts())
print "共有%d种不同优惠券" % coupon_count

共有9738种不同优惠券

In [9]:
user_count = len(off_train['User_id'].value_counts())
print "共有%d个用户" % user_count

共有539438个用户

In [10]:
merchant_count = len(off_train['Merchant_id'].value_counts())
print "共有%d个商家" % merchant_count

共有8415个商家

In [12]:
min_received = str(int(off_train['Date_received'].min()))
print "最早领券时间：%s" % min_received

最早领券时间：20160101

In [13]:
max_received = str(int(off_train['Date_received'].max()))
print "最晚领券时间：%s" % max_received

最晚领券时间：20160615

In [14]:
min_date = str(int(off_train['Date'].min()))
print "最早消费时间：%s" % min_date

最早消费时间：20160101

In [16]:
max_date = str(int(off_train['Date'].max()))
print "最晚消费时间：%s" % max_date

最晚消费时间：20160630